<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Arpit Choudhary">
    <title>appiassist</title>
    <link rel=icon href="{{ url_for('static', filename='favicon/index.png') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/me.css') }}" rel="stylesheet">
  </head>
  <body class="bgme">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Arpit Choudhary</h3>
              <nav class="hovtop">
                <ul class="nav masthead-nav">
                  <li><a href="https://appi147.github.io/">Home</a></li>
                  <li class="active"><a href="#">Assistant</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Hello there!</h1>
            <p class="lead">
            		appiassist is a basic chat bot for FB Messenger. 
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
                <table class="table hov">
                  <tbody>
                    <tr>
                      <td>
                        <a href="https://facebook.com/appi147" data-toggle="tooltip" data-placement="bottom" title="Facebook"><img src="{{ url_for('static', filename='img/fb.png') }}" height="32" width="32">
                        </a>
                      </td>
                      <td>
                        <a href="http://github.com/appi147" data-toggle="tooltip" data-placement="bottom" title="Github"><img src="{{ url_for('static', filename='img/gh.png') }}" height="32" width="32">
                        </a>
                      </td>
                      <td>
                        <a href="https://appiblogs.wordpress.com/" data-toggle="tooltip" data-placement="bottom" title="WordPress Blog"><img src="{{ url_for('static', filename='img/wp.png') }}" height="32" width="32">
                        </a>
                      </td>
                      <td>
                        <a href="https://in.linkedin.com/in/arpitchoudhary147" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><img src="{{ url_for('static', filename='img/in.png') }}" height="32" width="32">
                        </a>
                      </td>
                      <td>
                        <a href="https://www.quora.com/profile/Arpit-Choudhary-10" data-toggle="tooltip" data-placement="bottom" title="Quora"><img src="{{ url_for('static', filename='img/q.png') }}" height="32" width="32">
                        </a>
                      </td>
                      <td>
                        <a href="https://t.me/appi147" data-toggle="tooltip" data-placement="bottom" title="Telegram"><img src="{{ url_for('static', filename='img/tg.png') }}" height="32" width="32">
                        </a>
                      </td>
                      <td>
                        <a href="mailto:arpitkumar147@gmail.com" data-toggle="tooltip" data-placement="bottom" title="Send Mail"><img src="{{ url_for('static', filename='img/mail.png') }}" height="32" width="32">
                        </a>
                      </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>