<h1>Privacy Policy</h1>

<strong>What personal information do we collect from the people that visit our app?</strong>
<br>
We collect only your names.
<br>
<br>
<strong>When do we collect information?</strong>
<br>
When you send a message to assistant, then only information is collected.
<br>
<br>
<strong>How we use your information?</strong>
<br>
We use it for personalising your experience.
<br>
<br>
<strong>Third-party disclosure</strong>
<br>
We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.
<br>
<br>
<strong>Third-party links</strong>
<br>
Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
<br>
<br>
<strong>Contacting Us</strong>
<br>
<br>
147appi@gmail.com
<br>
<br>
Last Edited on 2017-12-22